<div class="container">
  <div class="jumbotron">
    <h2>Edit Your Family Friendly Profile...</h2>

    <%= form_for @user do |f| %>
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>

    <% end %>
    <h2>My Zip Code:</h2>

    <h3>Number of Family Members:</h3>
    <h3>Number of Children age 0-1:</h3>
    <h3>Number of Children age 1-2:</h3>
    <h3>Number of Children age 2-3:</h3>
    <h3>Number of Children age 3-4:</h3>
    <h3>Number of Children age 4-5:</h3>

    <%= link_to 'Update Profile' %>
  </div>
</div>
