<div class="container">
  <h1>About the Developer</h1>
  <div class="jumbotron">
    <div class="about">
      <p>I'm Susi. I am a Software and Web Application Developer who studied at <a href="http://turing.io" target="_blank">The Turing School</a> in Denver, Colorado. I grew up in New Jersey, went to <a href="http://www.radford.edu" target="_blank">college in Virginia</a>, and <a href="http://www.naropa.edu" target="_blank">graduate school</a> in Colorado (<a href="http://www.regis.edu" target="_blank">twice</a>). I am the wife to an amazing husband and the mom to an incredible two year old.</p>
    </div>
  </div>
</div>
