<div class="container">
  <h1>About Family Friendly</h1>
  <div class="jumbotron">
    <div class="about">
      <p>
        When my son was born in 2014, I joined a Mom's group in Boulder, Colorado. One thing we would try to do was go out to lunch every few weeks or so - which prior to having a baby was no big deal. Now, we all had strollers, dirty diapers, car seats, and screaming infants. We needed to easily find places to go that offered us areas to take care of our kids: namely changing tables in restrooms. I could not find an app or a website to help me with this.
      </p>

      <p>
        I joined the Turing School in June of 2016. When I entered my third module as a student and needed to create a Personal Project, this story re-entered my head. I needed to build this application. Enter "Family Friendly" - a site for parents to mark down the family amenities available to us at different businesses. Based on the Yelp API, the search feature allows a user (both guest and registered) to find businesses and read reviews from Family Friendly registered users.
      </p>
    </div>
  </div>
</div>
