<div class="container">
  <h1>Contact</h1>
  <div class="jumbotron">
    <div class="about">
      <h2 class="contact">Get in Touch</h2>
      <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"><a href="http://github.com/susiirwin" target="_blank"><img class="github-icon"></a></div>
          <div class="col-md-2"><a href="http://ctt.ec/jdDRd" target="_blank"><img class="twitter-icon"></a></div>
          <div class="col-md-2"><a href="https://www.linkedin.com/in/susiirwin" target="_blank"><img class="linkedin-icon"></a></div>
          <div class="col-md-2"><a href="mailto:susi.irwin@gmail.com?Subject=Saw%20Your%20Website" target="_top"><img class="email-icon"></a></div>
          <div class="col-md-2"></div>
        </div>
    </div>
  </div>
</div>
