<div class="container">
  <div class="jumbotron">
    <h2>Welcome to Your Family Friendly Profile, <%= "#{current_user.name}" %>!</h2>

    <table>
      <!-- will build out the family table here -->
    </table>

    <%= link_to 'Add Family Member', new_users_family_path %>
  </div>
</div>
