<div class="container">
  <h1>Welcome to Your Profile, <%= "#{current_user.name}" %>!</h1>
  <div class="jumbotron">

    <table class=table>
      <thead>
        <tr>
          <th>
            Family Member Name
          </th>
          <th>
            Age
          </th>
        </tr>
        <% @user.families.each do |member| %>
        <tr>
          <td>
            <%= member.name %>
          </td>
          <td>
            <%= member.age %>
          </td>
        </tr>
<% end %>


      </thead>
    </table>

    <%= link_to 'Add Family Member', new_users_family_path %>
  </div>
</div>
