// gray
$primary-color: #283739;
// blue
$secondary-color: #228896;
// green
$accent-color1: #A9C52F;
//white
$accent-color2: #F5F5F5;

.container {
  background-color: $secondary-color;
}

.container h1 {
  font-family: 'Permanent Marker', cursive;
}

.jumbotron {
  background-color: $accent-color2;
  margin: 10px
}

.container-fluid {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $accent-color2;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  color: $accent-color2;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $accent-color2;
  color: $accent-color1;
}

input#search {
  color: $primary-color;
}

.btn-family {
  background-color: $accent-color1;
  color: white;
}

body {
  padding-top: 70px;
  background-image: image-url('paisley.png');
  background-repeat:repeat;
}

.background-image {
  height: 1000px;
  background-image: image-url('lego_family.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  top: 0;
  text-align: left;
  margin-top: -20px;
}

.background-image h1 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  float: right;
  font-size: 200px;
  padding: 90px 30px 0 0;
}

.background-image h2 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  width: 700px;
  font-size: 75px;
  float: right;
  padding: 120px 30px 0 0;
  text-shadow: 1px 1px white;
  font-family: 'Roboto', sans-serif;
}
